.bg-testimonial{
    background-color: #e4936750;
    padding: 40px;
}
.testimonial-image{
    width: 300px;
    height: 250px;

}
.testimonial-text{
    width: 70%;
    margin-left: 20px;
    font-family: 'Roboto';
    color: gray;
    height: 250px;
}
.c-item{
    width: 700px;
    margin-left: 20%;
    background-color: white;
    padding: 30px;
}