.f-footer{
    background-color: darkslategray;
    width: 100%;
    position: relative;
    bottom: 0px;
    padding-top: 60px;
    margin-top: 20px;

}
.links a{
  text-decoration: none;
  font-size: 30px;
  color: var(--red);
  
}