@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.App {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
:root {
  --orange-color : #a15547;
  --light-orange : #E08F62;
  --nude-color: #DED7B1;
  --green-color: #2F4F4F;
}
p{
  font-family: 'Roboto';
  color: rgb(105, 104, 104);
  line-height: 1.5rem;
}